.instrumento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#instrumento .titulo p {
  text-transform: uppercase;
}

.instrumento-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.instrumento-imagens img {
  flex: 1;
  min-width: 200px;
}

.instrumento-imagens img:first-child {
  min-width: 100%;
}

.instrumento-conteudo > p {
  margin-bottom: 32px;
}

.instrumento-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.instrumento-comprar a {
  grid-row: span 2;
}

.instrumento-comprar span {
  display: flex;
  align-items: center;
  background-color: var(--cor-6);
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
}

.instrumento-conteudo h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}

.instrumento-informacoes,
.instrumento-especificacoes {
  padding: 32px;
  background-color: var(--cor-6);
  border-radius: 4px;
}

.instrumento-informacoes {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.instrumento-informacoes h3::before {
  content: "";
  display: inline-block;
  height: 4px;
  width: 6px;
  margin-right: 8px;
  background-color: var(--cor-p1);
}

.instrumento-informacoes h3 {
  margin-bottom: 8px;
}

.instrumento-especificacoes li {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-5);
}

.instrumento-especificacoes li:last-child {
  border-bottom: none;
}

.instrumento-especificacoes span {
  color: var(--cor-2);
}

@media (max-width: 800px) {
  .instrumento {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .instrumento-imagens {
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  .instrumento-informacoes {
    grid-template-columns: 1fr;
  }
  .instrumento-comprar {
    grid-template-columns: 1fr;
  }
}
